
@font-face {
    font-family: 'Cairo';
    src: url('/lib/fonts/Cairo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cairo';
    src: url('/lib/fonts/Cairo-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Cairo';
    src: url('/lib/fonts/Cairo-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}



@font-face {
    font-family: 'Cairo';
    src: url('/lib/fonts/Cairo-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
body {
    font-family: 'Cairo', sans-serif;
}